In [1]:
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
# read dataset
# we will be using trained dataset to understand how people are reacting
data = pd.read_csv("nlp_train.csv")
data.head()

,id,text,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust,neutral
0,0,He was answering a question about the criticis...,1,0,1,0,0,0,0,1,0,0,0,0
1,1,I'm going to start today's discussion thread w...,1,1,1,1,0,0,0,1,0,0,0,0
2,2,"By announcing the 395 self-quarantined, it pai...",1,1,1,1,0,0,0,1,0,0,0,0
3,3,"Likewise, sorry if I offended you. I’m not act...",1,0,1,1,0,0,0,1,0,0,0,0
4,4,"People infected by experience high fever, coug...",0,0,0,0,0,0,0,0,0,0,0,1

In [3]:
#basic stats
data.describe()

,id,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust,neutral
count,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000,1493.000000
mean,746.000000,0.364367,0.503014,0.454119,0.454119,0.123912,0.092431,0.328198,0.432686,0.277294,0.108506,0.168118,0.113195
std,431.136289,0.481413,0.500158,0.498057,0.498057,0.329591,0.289731,0.469715,0.495614,0.447813,0.311123,0.374096,0.316937
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,373.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,746.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1119.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,1492.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
data['anger'].value_counts()

0    949
1    544
Name: anger, dtype: int64

In [16]:
freqs = {"anger":data['anger'].value_counts()[1]
anticipation = data['anticipation'].value_counts()[1]
data['disgust'].value_counts()[1]
data['fear'].value_counts()[1]
data['joy'].value_counts()[1]
data['love'].value_counts()[1]
data['optimism'].value_counts()[1]
data['pessimism'].value_counts()[1]
data['sadness'].value_counts()[1]
data['surprise'].value_counts()[1]
data['trust'].value_counts()[1]
data['neutral'].value_counts()[1]

0    1003
1     490
Name: optimism, dtype: int64